.articles-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.article-card {
    border: 1px solid #c20202;
    padding: 2rem;
    border-radius: 1rem;
    background: #070000;
}

.article-card h2 {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

.articles-container a h3 {
  color: white; 
  transition: color 0.3s ease;
}

.articles-container a:hover h3 {
  color: red; 
}